@import "tailwindcss";
@plugin "daisyui" {
  themes: dark, black, cupcake, corporate;
}
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

.btn:hover {
  background-color: #2f27ce;
  color: white;
  /* Change this to your desired color */
}
